{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <form action="{% url 'search' %}" method="GET">
        <div class="col-md-12" style="margin-top:25px">
            Mobile Search
            <input id='keyword' type="text" name="q-samsung" title="Search" value={{keyword}}>
            <input type="submit" class="btn btn-light" value="Search" />
        </div>
    </form>
</div>

<div class="result">
    {% for res in result %}
        <div class="content">
            <a href="{{res.link}}">{{res.link}}</a>
            <p>{{res.title}}</p>
            {{res.summary.0}}
        </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if result.has_previous %}
            <a href="{% url 'search' %}?q-samsung={{keyword}}&page=1">&laquo; first</a>
            <a href="{% url 'search' %}?q-samsung={{keyword}}&page={{ result.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ result.number }} of {{ result.paginator.num_pages }}.
        </span>

        {% if result.has_next %}
            <a href="{% url 'search' %}?q-samsung={{keyword}}&page={{ result.next_page_number }}">next</a>
            <a href="{% url 'search' %}?q-samsung={{keyword}}&page={{ result.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}